.ProductDetailBody {}

// 内容一
.prodDetailCTAbgCon {
  // width: 100%;
  // height: 660px;
  // background: #F2A322
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url('../../assets/contact/contact_bg.png') no-repeat;
  background-size: cover;
}

.prodDetailCTABg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prodDetailCTAImage {
  width: 570px;
  height: 572px;
  margin-left: 114px;
}

.prodDetailCTATitle {
  width: 456px;
  padding-top: 100px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #FFF;
}

.prodDetailCTAText {
  width: 762px;
  font-size: 24px;
  line-height: 36px;
  color: #FFF;
}

// 标题
.product_con_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_con_w {
  width: 1200px;
}

.home_title_con {
  height: 210px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 45px;
  font-weight: 500;
  line-height: 30px;
  color: #333333;
}

.home_title_icon {
  width: 60px;
  height: 60px;
  margin-right: 41px;
}

.home_title_name {
  width: 87px;
  height: 210px;
  position: absolute;
  left: 84px;
  top: -44px;
  font-size: 150px;
  font-weight: 600;
  line-height: 250px;
  color: rgba($color: #666, $alpha: 0.25);
}

// 关于柏拉图
.product_about {
  width: 1277px;
  height: 335px;
  position: relative;
  background: linear-gradient(314deg, #E80006 0%, #0D0000 100%);
}

.product_about_title {
  padding-top: 84px;
  padding-left: 84px;
  font-size: 40px;
  font-weight: 500;
  line-height: 63px;
  color: #FFFFFF;
}

.product_about_message {
  width: 725px;
  margin-top: 30px;
  padding-left: 84px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #FFFFFF;
}

.product_about_image1 {
  width: 1290px;
  height: 773px;
}
.product_about_image2 {
  width: 1277px;
  height: 839px;
  margin-bottom: 82px;
}