.aboutUsBody {}

// 头部内容
.aboutUsHeader {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  background: url('../../assets/contact/contact_bg.png') no-repeat;
  background-size: cover;
}

.aboutUsHeaderCon {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  color: #fff;
}

.aboutUsHeaderTitle {
  width: 470px;
  margin-top: 60px;
  font-size: 50px;
  font-weight: 800;
  line-height: 80px;
  color: #FFFFFF;
}

.aboutUsHeaderText {
  width: 760px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #FFFFFF;
}

.Converted_image {
  width: 346px;
  height: 421px;
  margin-left: 230px;
}

.Technology_image {
  width: 346px;
  height: 421px;
  margin-left: 230px;
}

.about_con_center {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 74px;
}

.about_image {
  width: 1300px;
  height: 700px;
}